.friendlist{
    margin: 0 auto;
    padding: 25px;
    align-items: center;
}
.item{
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px #b4b3b3;
    background-color: rgb(230, 231, 234);
    margin-top: 15px;
    padding: 10px;
}
.status{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.avatar{
    margin-left: 20px;
    margin-right: 20px;
}
.name{
    font-size: x-large;
}
.online {
    background-color: green;
}

.offline {
    background-color: red;
}